.cart-header h4 {
    font-size: 15px;
    color: var(--color-777777);
    font-weight: 400;
}
.cart-header,
.cart-data {
    border-bottom: 1px solid #eaeaea;
}
.cart-col-1 {
    width: 40%;
}
.cart-col-2 {
    width: 10%;
}
.cart-col-3 {
    width: 15%;
}
.cart-col-4 {
    width: 15%;
}
.img-product-cart img {
    width: 100%;
}
.delete-product {
    padding: 4px 8px;
    background-color: var(--color-232f3e);
    border-radius: 16px;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
.cart-data h5.price {
    font-size: 14px;
    color: var(--color-1c1c1b);
}
.img-product-checkout img {
    width: 100%;
}
